<html>
<link rel="stylesheet" type="text/css" href="main.css" />
  <head>
    <div id="title">
        {% include 'title.tmpl' %}
    </div>
  </head>
  <body>
    <div class="page">

      <div class="header">
      {% include 'header.tmpl' %}
      </div>

      <div class="content">
        {% include 'content.tmpl' %}
      </div>
    
      <div class="footer">
        {% include 'footer.tmpl' %}
      </div>

    </div>  
  </body>
</html>